In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np
import pandas as pd

/kaggle/input/mercedes-benz-greener-manufacturing/train.csv.zip
/kaggle/input/mercedes-benz-greener-manufacturing/sample_submission.csv.zip
/kaggle/input/mercedes-benz-greener-manufacturing/test.csv.zip

In [2]:
import scipy
import seaborn as sns
from matplotlib import pyplot as plt

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [3]:
train_df = pd.read_csv('datasets/train.csv.zip')
test_df = pd.read_csv('dataset/test.csv.zip')

In [4]:
train_df.head(3)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test_df.head(3)

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [10]:
#removing of outliars 


train_df = train_df.drop(train_df[train_df['y'] > 140].index)

In [16]:
data = pd.concat([train_df, test_df])

In [17]:
data[['X0', 'X1', 'X2']]

      X0  X1  X2
0      k   v  at
1      k   t  av
2     az   w   n
3     az   t   n
4     az   v   n
...   ..  ..  ..
4204  aj   h  as
4205   t  aa  ai
4206   y   v  as
4207  ak   v  as
4208   t  aa  ai

[8383 rows x 3 columns]

In [18]:
def code_сount(dataset, feature):
    dict = dataset[feature].value_counts().to_dict()
    dataset[feature] = dataset[feature].map(dict)
    
    return dataset[feature]

In [19]:
for feature in data[['X0', 'X1', 'X2']]:
    code_сount(data, feature)

In [1]:
'''data = pd.concat([data, pd.get_dummies(data[['X0', 'X1', 'X2']])], axis=1)'''

"data = pd.concat([data, pd.get_dummies(data[['X0', 'X1', 'X2']])], axis=1)"

In [2]:
data = data.drop(columns=['X3', 'X4', 'X5', 'X6', 'X8'])

NameError: name 'data' is not defined

In [22]:
'''data.drop(columns=['X0', 'X1', 'X2'], inplace=True)'''

"data.drop(columns=['X0', 'X1', 'X2'], inplace=True)"

In [24]:
num_features = train_df.select_dtypes(exclude='object').head()
num_features.head()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
'''num_features.describe()'''

'num_features.describe()'

In [26]:
'''num_nul_var = []
for col in num_features:
    if train_df[col].var() == 0:
        num_nul_var.append(col)
        print(col, train_df[col].var())'''

'num_nul_var = []\nfor col in num_features:\n    if train_df[col].var() == 0:\n        num_nul_var.append(col)\n        print(col, train_df[col].var())'

In [27]:
'''data.drop(columns=num_nul_var, inplace=True)'''

'data.drop(columns=num_nul_var, inplace=True)'

In [28]:
train_df = data[:train_df.shape[0]]

In [29]:
test_df =  data[train_df.shape[0]:]

In [30]:
X = train_df.drop(columns=['ID', 'y'])
y = train_df['y']
X_test = test_df.drop(columns=['ID', 'y'])

In [31]:
X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=42)

In [32]:
rf = RandomForestRegressor(max_depth=5, min_samples_leaf=3, n_estimators=145,
                      n_jobs=-1, random_state=1)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_val)

r2_score(y_val, y_pred)

0.6126267480366778

In [33]:
'''params= {'max_depth': list(range(5,21, 1)), 
              'min_samples_leaf': list(range(1,6, 1)),
              'n_estimators': [145], 'n_jobs': [-1], 'random_state': [1]}


cv_rf = GridSearchCV(RandomForestRegressor(), params)

cv_rf.fit(X_train, y_train)
y_pred = cv_rf.predict(X_val)

r2_score(y_val, y_pred), cv_rf.best_estimator_'''

"params= {'max_depth': list(range(5,21, 1)), \n              'min_samples_leaf': list(range(1,6, 1)),\n              'n_estimators': [145], 'n_jobs': [-1], 'random_state': [1]}\n\n\ncv_rf = GridSearchCV(RandomForestRegressor(), params)\n\ncv_rf.fit(X_train, y_train)\ny_pred = cv_rf.predict(X_val)\n\nr2_score(y_val, y_pred), cv_rf.best_estimator_"

In [34]:
model = RandomForestRegressor(max_depth=5, min_samples_leaf=3, n_estimators=145,
                      n_jobs=-1, random_state=1)

model.fit(X, y)
predict = model.predict(X_test)

In [35]:
output = pd.DataFrame({'ID': test_df.ID, 'y': predict})
output.to_csv('mercedes_benz_baseline.csv', index=False)