In [2]:
import pandas as pd

data = {'Alphabet1': ['A', 'B', 'C', 'D'], 'Alphabet2': ['a', 'b', 'c', 'd'], 'Number': [1,2,3,4]}
df1 = pd.DataFrame(data)

data = {'Alphabet': ['E', 'F', 'G', 'H'], 'Alphabet2': ['e', 'f', 'g', 'h'], 'Number': [5,6,7,8]}
df2 = pd.DataFrame(data)

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [4]:
le.fit(list(set(df1['Alphabet']).union(set(df2['Alphabet']))))

KeyError: 'Alphabet'

In [27]:
print(list(df1['Alphabet'])+list(df2['Alphabet']))

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [21]:
df1['Alphabet'] = le.transform(df1['Alphabet'])
df2['Alphabet'] = le.transform(df2['Alphabet'])

In [22]:
df1

   Alphabet  Number
0         0       1
1         1       2
2         2       3
3         3       4

In [23]:
df2

   Alphabet  Number
0         4       5
1         5       6
2         6       7
3         7       8

In [8]:
le = LabelEncoder()
list1 = ['A','B','C','D']
list2 = ['C','D','E','F']

print(list1+list2)
le.fit(list1+list2)
list3 = le.transform(list1)
list4 = le.transform(list2)

print(list3)
print(list4)

['A', 'B', 'C', 'D', 'C', 'D', 'E', 'F']
[0 1 2 3]
[2 3 4 5]